{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="mb-4 text-danger">❤️ My Contributions</h2>

    <div class="card p-3 mb-4 shadow text-center">
        <h4>Total Donations</h4>
        <h2 class="text-success">{{ count }}</h2>
    </div>

    {% if donations %}

        {% for d in donations %}
        <div class="card shadow mb-3 p-3">

            <b>{{ d.blood_group }}</b> at {{ d.location }}

            <p class="text-muted mt-2">
                Donated on: {{ d.created_at }}
            </p>

        </div>
        {% endfor %}

    {% else %}
        <p>You haven’t donated yet.</p>
    {% endif %}

</div>

{% endblock %}